@import "tailwindcss";

@theme {
  /* === Primary (Peach) === */
  --color-primary: #F4A261;
  --color-primary-80:  #F6B27A;
  --color-primary-60:  #F8C59A;
  --color-primary-40:  #FAD8BB;
  --color-primary-30: #FCE1CB;
  --color-primary-20:  #FDEADB;
  --color-primary-10:  #FEF4EE;
  --color-primary-5:   #FFF9F6;

  --color-dark:  #631e0b;

  --color-red-40: #ff8164;
  --color-red-10: #ffccbc;
}

.test{
  background: #631e0b;
}